@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$mainBlueColor: #00B7EC;
$mainBlueHighlightColor: #1998D5;
$secondaryBlueColor: #14AFE8;
$mainGreenColor: #9BCC37;
$mainGreenHighlightColor: #77BA04;
$whiteColor: #FFFFFF;
$lightestGrayColor: #fafafa;
$lightGrayColor: #E9E9E9;
$grayColor: #666666;
$redColor: #FD7583;

$mainBlueSemitransparentColor: rgba(0, 183, 236, 0.05);
$darkBlueSemitransparentColor: rgba(0, 47, 61, 0.77);

@mixin text {
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
}

@mixin text-18px($font-size: 18px, $font-weight: 400) {
  @include text;
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin container {
  display: flex;
  align-items: center;
}

@mixin container-w1280($width: 1280px) {
  @include container;
  width: $width;
}

@mixin margin-top($mt) {
  margin: $mt auto 0 auto;
}

// --- Прячет лейблы, но оставляет их доступными для скрин ридеров ---
.visually-hidden {
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// --- Header ---
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $lightestGrayColor;
  width: 100%;

  &__container {
    @include container-w1280;
    background-color: $mainBlueColor;
    height: 106px;

    @media (max-width: 1280px) {
      width: 380px;
      //display: none;
      //visibility: hidden;
    }

    //&:after {
    //  @media (max-width: 1280px) {
    //    visibility: visible;
    //    content: 'whatever it is you want to add';
    //    display: block;
    //    height: 101px;
    //    background-color: $whiteColor;
    //    justify-content: center;
    //    align-items: center;
    //  }
    //}
  }

  &__logo {
    margin: 10px 13px 0 9px;
  }

  &__navbar {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
  }

  &__navbar__list {
    display: flex;
    gap: 39px;
    list-style: none;
    @include text-18px;

    a {
      text-decoration: none;
      cursor: pointer;
      color: $whiteColor;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__button {
    width: 255px;
    height: 40px;
    margin: auto 9px;
    color: $mainBlueColor;
    background-color: $whiteColor;
    border: 1px solid $mainBlueColor;
    border-radius: 5px;
    cursor: pointer;
    @include text-18px;

    &:hover {
      color: $mainBlueHighlightColor;
    }
  }
}

// --- Main ---
main {
  @include container;
  justify-content: center;
}

.main__container {
  @include container;
  justify-content: center;
  flex-direction: column;
  background-color: $lightestGrayColor;


  @media (max-width: 1280px) {
    width: 380px;
  }
}


// --- Hello ---
.main__hello-section {
  @include container-w1280;

  @media (max-width: 1280px) {
    width: 380px;
    //height: 388px;
  }

  &__container {
    @include container;
    flex-direction: column;
    height: 568px;
    width: 100%;
    background-image: url(https://ik.imagekit.io/arginp/gendalf-test/assets/hello__background--desktop.png);
    background-color: rgba(0, 47, 61, 0.7);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;

    @media (max-width: 1280px) {
      background-image: url(https://ik.imagekit.io/arginp/gendalf-test/assets/hello__background--mobile.png?updatedAt=1742927173576);
      height: 388px;
    }
  }

  &__title {
    @include container;
    width: 660px;
    height: 174px;
    @include text-18px(64px, 700);
    text-align: center;
    color: $whiteColor;
    line-height: 5.437rem;
    @include margin-top(64px);

    @media (max-width: 1280px) {
      width: 353px;
      height: 62px;
      @include text-18px(24px, 700);
      line-height: 2.3rem;
      @include margin-top(31px);
    }
  }

  &__text {
    @include container-w1280(834px);
    @include text-18px(25px);
    text-align: center;
    color: $whiteColor;
    @include margin-top(20px);
    text-shadow: 0 4px 4px 0 #00000080;
    line-height: 2.125rem;

    @media (max-width: 1280px) {
      height: 88px;
      width: 355px;
      @include text-18px(16px);
      line-height: 1.5rem;
    }
  }

  &__button-group {
    @include container;
    justify-content: space-between;
    width: 565px;
    height: 51px;
    @include margin-top(43px);
    align-items: flex-start;

    @media (max-width: 1280px) {
      flex-direction: column;
      height: 110px;
      align-items: center;
      width: 296px;
    }

    button {
      height: 50px;

      @media (max-width: 1280px) {
        width: 100%;
      }
    }

    &__button--primary {
      width: 175px;
      background-color: $mainGreenColor;
      border: none;
      border-radius: 5px;
      color: $whiteColor;
      @include text-18px(18px, 700);
      cursor: pointer;

      &:hover {
        background-color: $mainGreenHighlightColor;
      }
    }

    &__button--secondary {
      width: 327px;
      background-color: $whiteColor;
      border: 2px solid $mainGreenColor;
      border-radius: 5px;
      color: $mainGreenColor;
      @include text-18px(18px, 700);
      cursor: pointer;

      &:hover {
        color: $mainGreenHighlightColor;
        border: 2px solid $mainGreenHighlightColor;
      }
    }
  }
}

// --- About us ---
.main__about-section {
  @include container-w1280;
  background-color: $whiteColor;

  @media (max-width: 1280px) {
    width: 380px;
  }

  &__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 519px;
    width: 100%;

    @media (max-width: 1280px) {
      height: max-content;
    }
  }

  &__left-container {
    @include container-w1280(728px);
    flex-direction: column;
    margin-left: 10px;
    align-items: start;

    @media (max-width: 1280px) {
      width: 380px;
      align-items: center;
    }
  }

  &__title {
    @include text-18px(36px, 300);
    color: $mainBlueColor;
    margin-top: 50px;

    @media (max-width: 1280px) {
      @include text-18px(28px, 400);
      text-align: center;
      width: 355px;
      margin-top: 35px;
    }
  }

  &__text {
    @include container;
    flex-direction: column;
    gap: 10px;
    @include text-18px;
    color: $grayColor;
    margin-top: 20px;
    line-height: 1.563rem;

    @media (max-width: 1280px) {
      margin-top: 10px;
    }
  }

  &__button-group {
    @include container;
    height: 50px;
    margin-top: 20px;
    gap: 21px;

    @media (max-width: 1280px) {
      flex-direction: column;
      height: 110px;
      gap: 10px;
      margin-bottom: 30px;

      button {
        width: 100%;
      }
    }

    &__button--primary {
      height: 100%;
      width: 225px;
      background-color: $mainBlueColor;
      border: none;
      border-radius: 5px;
      color: $whiteColor;
      @include text-18px(18px, 700);
      cursor: pointer;

      &:hover {
        background-color: $mainBlueHighlightColor;
      }
    }

    &__button--secondary {
      height: 100%;
      width: 327px;
      background-color: $whiteColor;
      border: 1px solid $mainBlueColor;
      border-radius: 5px;
      color: $mainBlueColor;
      @include text-18px(18px, 700);
      cursor: pointer;

      &:hover {
        color: $mainBlueHighlightColor;
        border-color: $mainBlueHighlightColor;
      }
    }
  }

  &__image-container {
    @include container;
    position: relative;
    width: 100%;
    height: 100%;

    @media (max-width: 1280px) {
      display: none;
    }
  }

  &__image-main {
    position: absolute;
    inset: calc(50% - calc(292px * .5));
    z-index: 1;
  }

  &__image-polygon-green {
    position: absolute;
    inset: calc(50% - 200px) calc(50% - 135px);
    z-index: 2;
  }

  &__image-polygon-beige {
    position: absolute;
    inset: calc(50% - 55px) calc(50% - 235px);
    z-index: 3;
  }

  &__image-polygon-blue {
    position: absolute;
    inset: calc(50% + 20px) calc(50% + 85px);
    z-index: 4;
  }
}

// --- Values ---
.main__values-section {
  @include container-w1280;
  background-color: $lightGrayColor;
  height: 519px;
  position: relative;
  overflow: hidden;

  @media (max-width: 1280px) {
    width: 380px;
    height: 451px;
  }

  &__container {
    height: 100%;
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }

  &__title {
    @include text-18px(36px, 300);
    color: $mainBlueColor;
    margin: 36px 0 0 10px;
    position: absolute;

    @media (max-width: 1280px) {
      @include text-18px(28px, 400);
      text-align: center;
      line-height: 2.4rem;
    }
  }

  &__slider-wrapper {
    overflow: hidden;
    width: 100%;
    height: calc(100% - 122px);
    margin-top: 122px;
    position: relative;

    @media (max-width: 1280px) {
      margin-top: 142px;
    }
  }

  &__item-container {
    @include container;
    gap: 37px;
    align-items: start;
    display: flex;
    width: max-content;
    transition: transform 0.3s ease;
    position: relative;
  }

  &__item {
    @include container;
    flex-direction: column;
    max-width: 330px;
  }

  &__item-image img {
    height: 200px;
  }

  &__item-text-container {
    @include container;
    flex-direction: column;
  }

  &__item-text-title {
    @include text-18px(20px, 700);
    text-decoration: underline;
    color: $grayColor;
    line-height: 30px;
    text-align: center;
  }

  &__item-text-text {
    @include text-18px(14px);
    color: $grayColor;
    margin-top: 8px;
    text-align: center;
    line-height: 1.2rem;
  }

  &__prev-btn,
  &__next-btn {
    position: absolute;
    top: 55%;
    transform: translateY(-50%); // чтобы стрелочка была в центре элемента кнопки
    transform: scaleY(2);
    width: 40px;
    height: 40px;
    //background: $mainBlueSemitransparentColor;
    background: transparent;
    color: $mainBlueColor;
    border: none;
    cursor: pointer;
    font-size: 36px;
    @include text-18px(36px, 300);
    border-radius: 5px;
    z-index: 10;

    &:hover {
      color: $mainBlueHighlightColor;
    }
  }

  &__prev-btn {
    left: 10px;
  }

  &__next-btn {
    right: 10px;
  }
}

// --- Environment ---
.main__environment-section {
  @include container-w1280;
  background: linear-gradient(163.35deg, rgba(40, 228, 115, 0.16) 11.27%, rgba(70, 205, 22, 0.14) 35.82%,
          rgba(39, 221, 209, 0.39) 57.4%, rgba(5, 176, 213, 0.32) 82.7%);
  backdrop-filter: blur(7px);
  height: 493px;
  position: relative;

  @media (max-width: 1280px) {
    width: 380px;
    height: 569px;
    flex-direction: column;
  }

  &__container {
    @include container;
    flex-direction: column;
    height: 100%;
    width: 100%;

    @media (max-width: 1280px) {

    }
  }

  &__title {
    @include text-18px(36px, 300);
    color: $mainBlueColor;
    @include margin-top(61px);

    @media (max-width: 1280px) {
      width: 355px;
      text-align: center;
      @include text-18px(28px);
      line-height: 2.5rem;
      margin-top: 25px;
    }
  }

  &__item-container {
    @include container;
    margin: 43px 122px 0 48px;
    height: 297px;
    position: relative;
    justify-content: space-between;

    @media (max-width: 1280px) {
      width: 355px;
      height: 208px;
      margin: 0;
      flex-direction: column;
    }
  }

  &__item-text {
    @include container;
    flex-direction: column;
    gap: 10px;
    @include text-18px;
    color: $grayColor;
    margin-top: 20px;
    line-height: 1.563rem;

    @media (max-width: 1280px) {
      @include text-18px(16px);
      width: 100%;
      line-height: 1.3rem;
      margin-bottom: 20px;
    }

    & p {
      width: calc(100% - 630px);
      align-self: flex-start;

      @media (max-width: 1280px) {
        width: 100%;
      }
    }
  }

  &__item-embedded {
    @include container;
    position: relative;

    @media (max-width: 1280px) {
      margin: 0;
      flex-direction: column;
    }
  }

  &__item-embedded_main {
    height: 297px;
    width: 538px;
    z-index: 1;
    position: absolute;
    right: calc(50% - 55px);
    cursor: pointer;

    @media (max-width: 1280px) {
      position: relative;
      width: 354px;
      height: 195px;
      right: calc(50% - calc(354px * .5));
    }
  }
}

// --- Feed ---
.main__feed-section {
  @include container-w1280;
  background-color: $lightGrayColor;
  height: 566px;
  position: relative;
  overflow: hidden;

  @media (max-width: 1280px) {
    width: 380px;
    height: 542px;
  }

  &__container {
    height: 100%;
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 21px auto 0;
    gap: 28px;

    @media (max-width: 1280px) {
      margin: 0;
    }
  }

  &__title {
    @include text-18px(36px, 300);
    color: $mainBlueColor;
    margin: 36px 0 0 10px;
    position: absolute;

    @media (max-width: 1280px) {
      @include text-18px(28px);
      margin: 32px auto 0;
      right: calc(50% - calc(175px * .5));
    }
  }

  &__slider-wrapper {
    @include container;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: calc(100% - 100px);
    margin-top: 73px;
    position: relative;

    @media (max-width: 1280px) {
      justify-content: start;
      margin-left: 50px;
    }
  }

  &__item-container {
    display: flex;
    align-items: start;
    width: max-content;
    transition: transform 0.3s ease;
    position: relative;
    gap: 28px;

    @media (max-width: 1280px) {
      gap: 75px;
    }
  }

  &__item {
    @include container;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    width: 273px;
    height: 412px;
    border: 2px solid;
    rotation: 90deg;
    border-image-source: linear-gradient(calc(161.98deg - 90deg), #FFFFFF -3.6%, rgba(255, 255, 255, 0.2) 108.71%);
    border-image-outset: 100; // для корректной обрезки градиентного фона border-image
    border-radius: 5px;
    background: linear-gradient(calc(83.67deg + 90deg), rgba(255, 255, 255, 0.16) 55.33%, rgba(7, 168, 219, 0.16) 98.64%);
    backdrop-filter: blur(8px);
    box-shadow: 0 2px 6px 0 rgba(102, 102, 102, 0.7);
    overflow: hidden;
  }

  &__item-image {
    width: 100%;
    height: 156px;
  }

  &__item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; // Обрезает изображение, сохраняя пропорции
    border-top-left-radius: 5px; // Закругляет верхние углы изображения
    border-top-right-radius: 5px;
    z-index: 10;
  }

  &__item-text-container {
    @include container;
    flex-direction: column;
    justify-content: space-between;
    width: 224px;
    height: calc(100% - 156px); // с учетом высоты изображения 156px
  }

  &__item-text-text {
    @include text-18px;
    color: $grayColor;
    margin-top: 8px;
    text-align: center;
    line-height: 1.6rem;
  }

  &__item-btn {
    @include text-18px;
    height: 40px;
    width: 224px;
    background: transparent;
    border: 1px solid $mainBlueColor;
    border-radius: 5px;
    color: $mainBlueColor;
    cursor: pointer;
    margin-bottom: 25px;

    &:hover {
      color: $mainBlueHighlightColor;
      border-color: $mainBlueHighlightColor;
    }
  }

  &__prev-btn,
  &__next-btn {
    position: absolute;
    top: 55%;
    transform: translateY(-50%); // чтобы стрелочка была в центре элемента кнопки
    transform: scaleY(2);
    width: 40px;
    height: 40px;
    //background: $mainBlueSemitransparentColor;
    background: transparent;
    color: $mainBlueColor;
    border: none;
    cursor: pointer;
    font-size: 36px;
    @include text-18px(36px, 300);
    border-radius: 5px;
    z-index: 10;

    &:hover {
      color: $mainBlueHighlightColor;
    }

    &:disabled {
      color: $grayColor;
    }
  }

  &__prev-btn {
    left: 10px;
  }

  &__next-btn {
    right: 10px;
  }
}

// --- Student ---
.main__student-section {
  @include container-w1280;

  &__container {
    @include container;
    flex-direction: column;
    height: 415px;
    width: 100%;
    background-image: url(https://ik.imagekit.io/arginp/gendalf-test/assets/student__background--desktop.png?updatedAt=1742887266345);
    background-color: rgba(0, 47, 61, 0.7);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
  }

  &__title {
    @include container;
    width: 660px;
    height: 98px;
    @include text-18px(36px, 700);
    text-align: center;
    color: $whiteColor;
    line-height: 3.06rem;
    @include margin-top(83px);
  }

  &__button--primary {
    height: 50px;
    width: 289px;
    background-color: $mainGreenColor;
    border: none;
    border-radius: 5px;
    color: $whiteColor;
    @include text-18px(18px, 700);
    cursor: pointer;
    @include margin-top(56px);

    &:hover {
      background-color: $mainGreenHighlightColor;
    }
  }

  &:hover {
    color: $mainGreenHighlightColor;
  }
}

// --- FAQ ---
.main__faq-section {
  @include container-w1280;
  background: linear-gradient(163.35deg, rgba(40, 228, 115, 0.16) 11.27%, rgba(70, 205, 22, 0.14) 35.82%,
          rgba(39, 221, 209, 0.39) 57.4%, rgba(5, 176, 213, 0.32) 82.7%);
  backdrop-filter: blur(7px);
  height: max-content;
  position: relative;

  &__container {
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
    justify-content: space-between;
  }

  &__title {
    @include text-18px(26px, 700);
    color: $secondaryBlueColor;
    margin-left: 13px;
    margin-top: 60px;
  }

  &__text-items {
    margin-left: 13px;
    margin-top: 46px;
  }

  &__item { // details
    @include text-18px;
    color: $grayColor;
    padding-bottom: 30px;
    padding-left: 28px;
    margin-left: 18px;
    line-height: 1.6rem;
    position: relative;

    & b {
      font-weight: 700;
    }

    &:open {
      & > summary {
        color: $mainBlueColor;
      }

      & > summary::before {
        content: url("https://ik.imagekit.io/arginp/gendalf-test/assets/marker--open.png?tr=w-23,h-23");
      }
    }

  }

  &__item-summary {
    text-decoration: underline;
    margin-bottom: 8px;
    cursor: pointer;
    list-style: none; // убирает стандартный маркер (стрелку)
    padding-left: 28px; // отступ для текста, чтобы освободить место под маркер
    margin-left: -28px; // чтобы выровнять details и summary
    position: relative;

    &::-webkit-details-marker {
      display: none;
    }

    &::before {
      content: url("https://ik.imagekit.io/arginp/gendalf-test/assets/marker--closed.png?tr=w-23,h-23");
      position: absolute;
      left: 0;
      top: 60%; // центрирует по вертикали
      transform: translateY(-50%);
    }
  }

  &__item__list {
    list-style: outside;
    margin-left: 18px;

    &-item {
      padding: 10px;
    }
  }

  &__img-container {
    position: relative;
    margin: 35px 29px auto 43px;

    & img {
      height: 320px;
      width: 378px;
    }
  }
}

.main__contact-section {
  @include container-w1280;
  justify-content: center;
  height: 840px;
  background-image: url(https://ik.imagekit.io/arginp/gendalf-test/assets/contact__background--desktop.png?updatedAt=1742900158028);
  background-color: rgba(0, 47, 61, 0.7);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;

  &__container {
    @include container;
    height: 718px;
    width: 840px;
    background-color: #00B7ECE7;
    justify-content: center;
    text-align: center;
  }

  &__form-title {
    @include text-18px(36px, 300);
    color: $whiteColor;
    height: 49px;
  }

  &__form {
    @include container;
    justify-content: center;
  }

  &__form-fields-container {
    @include container;
    flex-direction: column;
    gap: 3px;
    margin-top: 18px;
  }

  &__form-field-wrapper {
    position: relative; // Для позиционирования ::after
    width: 568px;

    &--error::after {
      content: "";
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 31px; // размер SVG
      height: 31px;
      background: url('data:image/svg+xml;charset=UTF-8,<svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="15.5" cy="15.5" r="15.5" fill="%23FD7583"/><path d="M9 9L22 22M22 9L9 22" fill="none" stroke="white" stroke-width="2" stroke-linecap="round"/></svg>') no-repeat center;
      background-size: contain;
    }

    &--clear::after {
      content: "";
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 31px; // размер SVG
      height: 31px;
      background: url('data:image/svg+xml;charset=UTF-8,<svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="15.5" cy="15.5" r="15.5" fill="%239BCC37"/><path d="M23.5 10.5L13.5 20.5L7.5 14.5" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center;
      background-size: contain;
    }
  }

  &__form-fields_text-input {
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    padding: 14px 16px 11px 16px;
    border-radius: 5px;
    border: 2px solid #666666B5;

    &:focus {
      border: 2px solid $grayColor;
      outline: none;
    }

    &::placeholder {
      color: $grayColor;
      @include text-18px(18px, 300);
      opacity: 0.5;
    }

    &--error {
      border: 2px solid $redColor;
    }

    &--clear {
      border: 2px solid $mainGreenColor;
    }
  }

  &__form-fields_text-input-long {
    height: 108px;
    margin-top: 17px;
    resize: none;
  }

  &__form-fieldset {
    @include container;
    @include text-18px;
    flex-direction: column;
    gap: 7px;
    align-items: start;
    width: 100%;
    color: $whiteColor;

    & input[type=radio] {
      display: none;
    }

    & input[type=radio]:checked + label:before {
      background: url('data:image/svg+xml;charset=UTF-8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="8" cy="8" r="7.5" stroke="white"/><circle cx="8" cy="8" r="5" fill="white"/></svg>') no-repeat center;
      background-size: contain;
    }
  }

  &__form-fieldset_legend {
    font-weight: 700;
    height: 25px;
    margin-top: 17px;
    margin-bottom: 10px;
  }

  &__form-fieldset__radio-item {
    height: 25px;
  }

  &__form-fieldset_radio-label {
    @include text-18px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 0;
    line-height: 18px;
    user-select: none;

    &::before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: url('data:image/svg+xml;charset=UTF-8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="8" cy="8" r="7.5" stroke="white"/></svg>') no-repeat center;
      background-size: contain;
    }
  }

  &__form__button-group {
    @include container;
    justify-content: space-between;
    width: 568px;
    height: 50px;
    @include margin-top(17px);
    align-items: flex-start;

    button {
      height: 100%;
    }

    &--upload {
      width: 270px;
      background-color: $whiteColor;
      border: 2px solid $mainGreenColor;
      border-radius: 5px;
      color: $mainGreenColor;
      @include text-18px(18px, 700);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      &:hover {
        color: $mainGreenHighlightColor;
        border: 2px solid $mainGreenHighlightColor;
      }
    }

    &--submit {
      width: 218px;
      background-color: $mainGreenColor;
      border: none;
      border-radius: 5px;
      color: $whiteColor;
      @include text-18px(18px, 700);
      cursor: pointer;

      &:hover {
        background-color: $mainGreenHighlightColor;
      }
    }
  }
}