@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.visually-hidden {
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); /* browsers in the future */
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  width: 100%;
}
.header__container {
  display: flex;
  align-items: center;
  width: 1280px;
  background-color: #00B7EC;
  height: 106px;
}
.header__logo {
  margin: 10px 13px 0 9px;
}
.header__navbar {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
}
.header__navbar__list {
  display: flex;
  gap: 39px;
  list-style: none;
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 400;
}
.header__navbar__list a {
  text-decoration: none;
  cursor: pointer;
  color: #FFFFFF;
}
.header__navbar__list a:hover {
  text-decoration: underline;
}
.header__button {
  width: 255px;
  height: 40px;
  margin: auto 9px;
  color: #00B7EC;
  background-color: #FFFFFF;
  border: 1px solid #00B7EC;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 400;
}
.header__button:hover {
  color: #1998D5;
}

.main__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fafafa;
}

.main__hello-section {
  display: flex;
  align-items: center;
  width: 1280px;
}
.main__hello-section__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 568px;
  width: 100%;
  background-image: url(https://ik.imagekit.io/arginp/gendalf-test/assets/hello__background--desktop.png);
  background-color: rgba(0, 47, 61, 0.7);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
}
.main__hello-section__title {
  display: flex;
  align-items: center;
  width: 660px;
  height: 174px;
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  line-height: 5.437rem;
  margin: 64px auto 0 auto;
}
.main__hello-section__text {
  display: flex;
  align-items: center;
  width: 834px;
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  margin: 20px auto 0 auto;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5019607843);
  line-height: 2.125rem;
}
.main__hello-section__button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 565px;
  height: 51px;
  margin: 43px auto 0 auto;
  align-items: flex-start;
}
.main__hello-section__button-group button {
  height: 50px;
}
.main__hello-section__button-group__button--primary {
  width: 175px;
  background-color: #9BCC37;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.main__hello-section__button-group__button--primary:hover {
  background-color: #77BA04;
}
.main__hello-section__button-group__button--secondary {
  width: 327px;
  background-color: #FFFFFF;
  border: 2px solid #9BCC37;
  border-radius: 5px;
  color: #9BCC37;
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.main__hello-section__button-group__button--secondary:hover {
  color: #77BA04;
  border: 2px solid #77BA04;
}

.main__about-section {
  display: flex;
  align-items: center;
  width: 1280px;
  background-color: #FFFFFF;
}
.main__about-section__container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 519px;
  width: 100%;
}
.main__about-section__left-container {
  display: flex;
  align-items: center;
  width: 728px;
  flex-direction: column;
  margin-left: 10px;
  align-items: start;
}
.main__about-section__title {
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  font-size: 36px;
  font-weight: 300;
  color: #00B7EC;
  margin-top: 50px;
}
.main__about-section__text {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 400;
  color: #666666;
  margin-top: 20px;
  line-height: 1.563rem;
}
.main__about-section__button-group {
  display: flex;
  align-items: center;
  height: 50px;
  margin-top: 20px;
  gap: 21px;
}
.main__about-section__button-group__button--primary {
  height: 100%;
  width: 225px;
  background-color: #00B7EC;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.main__about-section__button-group__button--primary:hover {
  background-color: #1998D5;
}
.main__about-section__button-group__button--secondary {
  height: 100%;
  width: 327px;
  background-color: #FFFFFF;
  border: 1px solid #00B7EC;
  border-radius: 5px;
  color: #00B7EC;
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.main__about-section__button-group__button--secondary:hover {
  color: #1998D5;
  border-color: #1998D5;
}
.main__about-section__image-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}
.main__about-section__image-main {
  position: absolute;
  inset: calc(50% - 146px);
  z-index: 1;
}
.main__about-section__image-polygon-green {
  position: absolute;
  inset: calc(50% - 200px) calc(50% - 135px);
  z-index: 2;
}
.main__about-section__image-polygon-beige {
  position: absolute;
  inset: calc(50% - 55px) calc(50% - 235px);
  z-index: 3;
}
.main__about-section__image-polygon-blue {
  position: absolute;
  inset: calc(50% + 20px) calc(50% + 85px);
  z-index: 4;
}

.main__values-section {
  display: flex;
  align-items: center;
  width: 1280px;
  background-color: #E9E9E9;
  height: 519px;
  position: relative;
  overflow: hidden;
}
.main__values-section__container {
  height: 100%;
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.main__values-section__title {
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  font-size: 36px;
  font-weight: 300;
  color: #00B7EC;
  margin: 36px 0 0 10px;
  position: absolute;
}
.main__values-section__slider-wrapper {
  overflow: hidden;
  width: 100%;
  height: calc(100% - 122px);
  margin-top: 122px;
  position: relative;
}
.main__values-section__item-container {
  display: flex;
  align-items: center;
  gap: 37px;
  align-items: start;
  display: flex;
  width: max-content;
  transition: transform 0.3s ease;
  position: relative;
}
.main__values-section__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 330px;
}
.main__values-section__item-image img {
  height: 200px;
}
.main__values-section__item-text-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main__values-section__item-text-title {
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
  color: #666666;
  line-height: 30px;
  text-align: center;
}
.main__values-section__item-text-text {
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  font-size: 14px;
  font-weight: 400;
  color: #666666;
  margin-top: 8px;
  text-align: center;
  line-height: 1.2rem;
}
.main__values-section__prev-btn, .main__values-section__next-btn {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  transform: scaleY(2);
  width: 40px;
  height: 40px;
  background: transparent;
  color: #00B7EC;
  border: none;
  cursor: pointer;
  font-size: 36px;
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  font-size: 36px;
  font-weight: 300;
  border-radius: 5px;
  z-index: 10;
}
.main__values-section__prev-btn:hover, .main__values-section__next-btn:hover {
  color: #1998D5;
}
.main__values-section__prev-btn {
  left: 10px;
}
.main__values-section__next-btn {
  right: 10px;
}

.main__environment-section {
  display: flex;
  align-items: center;
  width: 1280px;
  background: linear-gradient(163.35deg, rgba(40, 228, 115, 0.16) 11.27%, rgba(70, 205, 22, 0.14) 35.82%, rgba(39, 221, 209, 0.39) 57.4%, rgba(5, 176, 213, 0.32) 82.7%);
  backdrop-filter: blur(7px);
  height: 493px;
  position: relative;
}
.main__environment-section__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.main__environment-section__title {
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  font-size: 36px;
  font-weight: 300;
  color: #00B7EC;
  margin: 61px auto 0 auto;
}
.main__environment-section__item-container {
  display: flex;
  align-items: center;
  margin: 43px 122px 0 48px;
  height: 297px;
  position: relative;
  justify-content: space-between;
}
.main__environment-section__item-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 400;
  color: #666666;
  margin-top: 20px;
  line-height: 1.563rem;
}
.main__environment-section__item-text p {
  width: calc(100% - 630px);
  align-self: flex-start;
}
.main__environment-section__item-embedded {
  display: flex;
  align-items: center;
  position: relative;
}
.main__environment-section__item-embedded_main {
  height: 297px;
  width: 538px;
  z-index: 1;
  position: absolute;
  right: calc(50% - 55px);
  cursor: pointer;
}
.main__environment-section__item-embedded_play {
  height: 90px;
  width: 90px;
  z-index: 2;
  position: absolute;
  right: calc(50% + 165px);
}

.main__feed-section {
  display: flex;
  align-items: center;
  width: 1280px;
  background-color: #E9E9E9;
  height: 566px;
  position: relative;
  overflow: hidden;
}
.main__feed-section__container {
  height: 100%;
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 21px auto 0;
  gap: 28px;
}
.main__feed-section__title {
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  font-size: 36px;
  font-weight: 300;
  color: #00B7EC;
  margin: 36px 0 0 10px;
  position: absolute;
}
.main__feed-section__slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: calc(100% - 100px);
  margin-top: 73px;
  position: relative;
}
.main__feed-section__item-container {
  display: flex;
  align-items: start;
  width: max-content;
  transition: transform 0.3s ease;
  position: relative;
  gap: 28px;
}
.main__feed-section__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  width: 273px;
  height: 412px;
  border: 2px solid;
  rotation: 90deg;
  border-image-source: linear-gradient(71.98deg, #FFFFFF -3.6%, rgba(255, 255, 255, 0.2) 108.71%);
  border-image-outset: 100;
  border-radius: 5px;
  background: linear-gradient(173.67deg, rgba(255, 255, 255, 0.16) 55.33%, rgba(7, 168, 219, 0.16) 98.64%);
  backdrop-filter: blur(8px);
  box-shadow: 0 2px 6px 0 rgba(102, 102, 102, 0.7);
  overflow: hidden;
}
.main__feed-section__item-image {
  width: 100%;
  height: 156px;
}
.main__feed-section__item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 10;
}
.main__feed-section__item-text-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 224px;
  height: calc(100% - 156px);
}
.main__feed-section__item-text-text {
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 400;
  color: #666666;
  margin-top: 8px;
  text-align: center;
  line-height: 1.6rem;
}
.main__feed-section__item-btn {
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 400;
  height: 40px;
  width: 224px;
  background: transparent;
  border: 1px solid #00B7EC;
  border-radius: 5px;
  color: #00B7EC;
  cursor: pointer;
  margin-bottom: 25px;
}
.main__feed-section__item-btn:hover {
  color: #1998D5;
  border-color: #1998D5;
}
.main__feed-section__prev-btn, .main__feed-section__next-btn {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  transform: scaleY(2);
  width: 40px;
  height: 40px;
  background: transparent;
  color: #00B7EC;
  border: none;
  cursor: pointer;
  font-size: 36px;
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  font-size: 36px;
  font-weight: 300;
  border-radius: 5px;
  z-index: 10;
}
.main__feed-section__prev-btn:hover, .main__feed-section__next-btn:hover {
  color: #1998D5;
}
.main__feed-section__prev-btn:disabled, .main__feed-section__next-btn:disabled {
  color: #666666;
}
.main__feed-section__prev-btn {
  left: 10px;
}
.main__feed-section__next-btn {
  right: 10px;
}

.main__student-section {
  display: flex;
  align-items: center;
  width: 1280px;
}
.main__student-section__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 415px;
  width: 100%;
  background-image: url(https://ik.imagekit.io/arginp/gendalf-test/assets/student__background--desktop.png?updatedAt=1742887266345);
  background-color: rgba(0, 47, 61, 0.7);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
}
.main__student-section__title {
  display: flex;
  align-items: center;
  width: 660px;
  height: 98px;
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  line-height: 3.06rem;
  margin: 83px auto 0 auto;
}
.main__student-section__button--primary {
  height: 50px;
  width: 289px;
  background-color: #9BCC37;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  margin: 56px auto 0 auto;
}
.main__student-section__button--primary:hover {
  background-color: #77BA04;
}
.main__student-section:hover {
  color: #77BA04;
}

.main__faq-section {
  display: flex;
  align-items: center;
  width: 1280px;
  background: linear-gradient(163.35deg, rgba(40, 228, 115, 0.16) 11.27%, rgba(70, 205, 22, 0.14) 35.82%, rgba(39, 221, 209, 0.39) 57.4%, rgba(5, 176, 213, 0.32) 82.7%);
  backdrop-filter: blur(7px);
  height: max-content;
  position: relative;
}
.main__faq-section__container {
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
  justify-content: space-between;
}
.main__faq-section__title {
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  font-size: 26px;
  font-weight: 700;
  color: #14AFE8;
  margin-left: 13px;
  margin-top: 60px;
}
.main__faq-section__text-items {
  margin-left: 13px;
  margin-top: 46px;
}
.main__faq-section__item {
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 400;
  color: #666666;
  padding-bottom: 30px;
  padding-left: 28px;
  margin-left: 18px;
  line-height: 1.6rem;
  position: relative;
}
.main__faq-section__item b {
  font-weight: 700;
}
.main__faq-section__item:open > summary {
  color: #00B7EC;
}
.main__faq-section__item:open > summary::before {
  content: url("https://ik.imagekit.io/arginp/gendalf-test/assets/marker--open.png?tr=w-23,h-23");
}
.main__faq-section__item-summary {
  text-decoration: underline;
  margin-bottom: 8px;
  cursor: pointer;
  list-style: none;
  padding-left: 28px;
  margin-left: -28px;
  position: relative;
}
.main__faq-section__item-summary::-webkit-details-marker {
  display: none;
}
.main__faq-section__item-summary::before {
  content: url("https://ik.imagekit.io/arginp/gendalf-test/assets/marker--closed.png?tr=w-23,h-23");
  position: absolute;
  left: 0;
  top: 60%;
  transform: translateY(-50%);
}
.main__faq-section__item__list {
  list-style: outside;
  margin-left: 18px;
}
.main__faq-section__item__list-item {
  padding: 10px;
}
.main__faq-section__img-container {
  position: relative;
  margin: 35px 29px auto 43px;
}
.main__faq-section__img-container img {
  height: 320px;
  width: 378px;
}

.main__contact-section {
  display: flex;
  align-items: center;
  width: 1280px;
  justify-content: center;
  height: 840px;
  background-image: url(https://ik.imagekit.io/arginp/gendalf-test/assets/contact__background--desktop.png?updatedAt=1742900158028);
  background-color: rgba(0, 47, 61, 0.7);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
}
.main__contact-section__container {
  display: flex;
  align-items: center;
  height: 718px;
  width: 840px;
  background-color: rgba(0, 183, 236, 0.9058823529);
  justify-content: center;
  text-align: center;
}
.main__contact-section__form-title {
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  font-size: 36px;
  font-weight: 300;
  color: #FFFFFF;
  height: 49px;
}
.main__contact-section__form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__contact-section__form-fields-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3px;
  margin-top: 18px;
}
.main__contact-section__form-field-wrapper {
  position: relative;
  width: 568px;
}
.main__contact-section__form-field-wrapper--error::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 31px;
  height: 31px;
  background: url('data:image/svg+xml;charset=UTF-8,<svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="15.5" cy="15.5" r="15.5" fill="%23FD7583"/><path d="M9 9L22 22M22 9L9 22" fill="none" stroke="white" stroke-width="2" stroke-linecap="round"/></svg>') no-repeat center;
  background-size: contain;
}
.main__contact-section__form-field-wrapper--clear::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 31px;
  height: 31px;
  background: url('data:image/svg+xml;charset=UTF-8,<svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="15.5" cy="15.5" r="15.5" fill="%239BCC37"/><path d="M23.5 10.5L13.5 20.5L7.5 14.5" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center;
  background-size: contain;
}
.main__contact-section__form-fields_text-input {
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  padding: 14px 16px 11px 16px;
  border-radius: 5px;
  border: 2px solid rgba(102, 102, 102, 0.7098039216);
}
.main__contact-section__form-fields_text-input:focus {
  border: 2px solid #666666;
  outline: none;
}
.main__contact-section__form-fields_text-input::placeholder {
  color: #666666;
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 300;
  opacity: 0.5;
}
.main__contact-section__form-fields_text-input--error {
  border: 2px solid #FD7583;
}
.main__contact-section__form-fields_text-input--clear {
  border: 2px solid #9BCC37;
}
.main__contact-section__form-fields_text-input-long {
  height: 108px;
  margin-top: 17px;
  resize: none;
}
.main__contact-section__form-fieldset {
  display: flex;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 400;
  flex-direction: column;
  gap: 7px;
  align-items: start;
  width: 100%;
  color: #FFFFFF;
}
.main__contact-section__form-fieldset input[type=radio] {
  display: none;
}
.main__contact-section__form-fieldset input[type=radio]:checked + label:before {
  background: url('data:image/svg+xml;charset=UTF-8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="8" cy="8" r="7.5" stroke="white"/><circle cx="8" cy="8" r="5" fill="white"/></svg>') no-repeat center;
  background-size: contain;
}
.main__contact-section__form-fieldset_legend {
  font-weight: 700;
  height: 25px;
  margin-top: 17px;
  margin-bottom: 10px;
}
.main__contact-section__form-fieldset__radio-item {
  height: 25px;
}
.main__contact-section__form-fieldset_radio-label {
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 400;
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 0;
  line-height: 18px;
  user-select: none;
}
.main__contact-section__form-fieldset_radio-label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: url('data:image/svg+xml;charset=UTF-8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="8" cy="8" r="7.5" stroke="white"/></svg>') no-repeat center;
  background-size: contain;
}
.main__contact-section__form__button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 568px;
  height: 50px;
  margin: 17px auto 0 auto;
  align-items: flex-start;
}
.main__contact-section__form__button-group button {
  height: 100%;
}
.main__contact-section__form__button-group--upload {
  width: 270px;
  background-color: #FFFFFF;
  border: 2px solid #9BCC37;
  border-radius: 5px;
  color: #9BCC37;
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.main__contact-section__form__button-group--upload:hover {
  color: #77BA04;
  border: 2px solid #77BA04;
}
.main__contact-section__form__button-group--submit {
  width: 218px;
  background-color: #9BCC37;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.main__contact-section__form__button-group--submit:hover {
  background-color: #77BA04;
}

/*# sourceMappingURL=style.css.map */
