@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$mainBlueColor: #00B7EC;
$mainBlueHighlightColor: #1998D5;
$mainGreenColor: #9BCC37;
$mainGreenHighlightColor: #77BA04;
$whiteColor: #FFFFFF;
$lightestGrayColor: #fafafa;
$lightGrayColor: #E9E9E9;
$grayColor: #666666;

$mainBlueSemitransparentColor: rgba(0, 183, 236, 0.05);
$darkBlueSemitransparentColor: rgba(0, 47, 61, 0.77);

@mixin text {
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
}

@mixin text-18px($font-size: 18px, $font-weight: 400) {
  @include text;
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin container {
  display: flex;
  align-items: center;
}

@mixin container-w1280($width: 1280px) {
  @include container;
  width: $width;
}

@mixin margin-top($mt) {
  margin: $mt auto 0 auto;
}

// --- Header ---
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $lightestGrayColor;
  width: 100%;

  &__container {
    @include container-w1280;
    background-color: $mainBlueColor;
    height: 106px;
  }

  &__logo {
    margin: 10px 13px 0 9px;
  }

  &__navbar {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
  }

  &__navbar__list {
    display: flex;
    gap: 39px;
    list-style: none;
    @include text-18px;

    a {
      text-decoration: none;
      cursor: pointer;
      color: $whiteColor;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__button {
    width: 255px;
    height: 40px;
    margin: auto 9px;
    color: $mainBlueColor;
    background-color: $whiteColor;
    border: 1px solid $mainBlueColor;
    border-radius: 5px;
    cursor: pointer;
    @include text-18px;

    &:hover {
      color: $mainBlueHighlightColor;
    }
  }
}

// --- Main ---
.main__container {
  @include container;
  justify-content: center;
  flex-direction: column;
  background-color: $lightestGrayColor;
}


// --- Hello ---
.main__hello-section {
  @include container-w1280;

  &__container {
    @include container;
    flex-direction: column;
    height: 568px;
    width: 100%;
    background-image: url(https://ik.imagekit.io/arginp/gendalf-test/assets/hello__background--desktop.png);
    background-color: rgba(0, 47, 61, 0.7);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
  }

  &__title {
    @include container;
    width: 660px;
    height: 174px;
    @include text-18px(64px, 700);
    text-align: center;
    color: $whiteColor;
    line-height: 5.437rem;
    @include margin-top(64px);
  }

  &__text {
    @include container-w1280(834px);
    @include text-18px(25px);
    text-align: center;
    color: $whiteColor;
    @include margin-top(20px);
    text-shadow: 0 4px 4px 0 #00000080;
    line-height: 2.125rem;
  }

  &__button-group {
    @include container;
    justify-content: space-between;
    width: 565px;
    height: 51px;
    @include margin-top(43px);
    align-items: flex-start;

    button {
      height: 50px;
    }

    &__button--primary {
      width: 175px;
      background-color: $mainGreenColor;
      border: none;
      border-radius: 5px;
      color: $whiteColor;
      @include text-18px(18px, 700);
      cursor: pointer;

      &:hover {
        background-color: $mainGreenHighlightColor;
      }
    }

    &__button--secondary {
      width: 327px;
      background-color: $whiteColor;
      border: none;
      border-radius: 5px;
      color: $mainGreenColor;
      @include text-18px(18px, 700);
      cursor: pointer;

      &:hover {
        color: $mainGreenHighlightColor;
      }
    }
  }
}

// --- About us ---
.main__about-section {
  @include container-w1280;
  background-color: $whiteColor;

  &__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 519px;
    width: 100%;
  }

  &__left-container {
    @include container-w1280(728px);
    flex-direction: column;
    margin-left: 10px;
    align-items: start;
  }

  &__title {
    @include text-18px(36px, 300);
    color: $mainBlueColor;
    margin-top: 50px;
  }

  &__text {
    @include container;
    flex-direction: column;
    gap: 10px;
    @include text-18px;
    color: $grayColor;
    margin-top: 20px;
    line-height: 1.563rem;
  }

  &__button-group {
    @include container;
    height: 50px;
    margin-top: 20px;
    gap: 21px;

    &__button--primary {
      height: 100%;
      width: 225px;
      background-color: $mainBlueColor;
      border: none;
      border-radius: 5px;
      color: $whiteColor;
      @include text-18px(18px, 700);
      cursor: pointer;

      &:hover {
        background-color: $mainBlueHighlightColor;
      }
    }

    &__button--secondary {
      height: 100%;
      width: 327px;
      background-color: $whiteColor;
      border: 1px solid $mainBlueColor;
      border-radius: 5px;
      color: $mainBlueColor;
      @include text-18px(18px, 700);
      cursor: pointer;

      &:hover {
        color: $mainBlueHighlightColor;
        border-color: $mainBlueHighlightColor;
      }
    }
  }

  &__image-container {
    @include container;
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__image-main {
    position: absolute;
    inset: calc(50% - calc(292px * .5));
    z-index: 1;
  }

  &__image-polygon-green {
    position: absolute;
    inset: calc(50% - 200px) calc(50% - 135px);
    z-index: 2;
  }

  &__image-polygon-beige {
    position: absolute;
    inset: calc(50% - 55px) calc(50% - 235px);
    z-index: 3;
  }

  &__image-polygon-blue {
    position: absolute;
    inset: calc(50% + 20px) calc(50% + 85px);
    z-index: 4;
  }
}

// --- Values ---
.main__values-section {
  @include container-w1280;
  background-color: $lightGrayColor;
  height: 519px;
  position: relative;
  overflow: hidden;

  &__container {
    height: 100%;
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }

  &__title {
    @include text-18px(36px, 300);
    color: $mainBlueColor;
    margin: 36px 0 0 10px;
    position: absolute;
  }

  &__slider-wrapper {
    overflow: hidden;
    width: 100%;
    height: calc(100% - 122px);
    margin-top: 122px;
    position: relative;
  }

  &__item-container {
    @include container;
    gap: 37px;
    align-items: start;
    display: flex;
    width: max-content;
    transition: transform 0.3s ease;
    position: relative;
  }

  &__item {
    @include container;
    flex-direction: column;
    max-width: 330px;
  }

  &__item-image img {
    height: 200px;
  }

  &__item-text-container {
    @include container;
    flex-direction: column;
  }

  &__item-text-title {
    @include text-18px(20px, 700);
    text-decoration: underline;
    color: $grayColor;
    line-height: 30px;
    text-align: center;
  }

  &__item-text-text {
    @include text-18px(14px);
    color: $grayColor;
    margin-top: 8px;
    text-align: center;
    line-height: 1.2rem;
  }

  &__prev-btn,
  &__next-btn {
    position: absolute;
    top: 55%;
    transform: translateY(-50%); // чтобы стрелочка была в центре элемента кнопки
    transform: scaleY(2);
    width: 40px;
    height: 40px;
    //background: $mainBlueSemitransparentColor;
    background: transparent;
    color: $mainBlueColor;
    border: none;
    cursor: pointer;
    font-size: 36px;
    @include text-18px(36px, 300);
    border-radius: 5px;
    z-index: 10;

    &:hover {
      color: $mainBlueHighlightColor;
    }
  }

  &__prev-btn {
    left: 10px;
  }

  &__next-btn {
    right: 10px;
  }
}

// --- Environment ---
.main__environment-section {
  @include container-w1280;
  background: linear-gradient(163.35deg, rgba(40, 228, 115, 0.16) 11.27%, rgba(70, 205, 22, 0.14) 35.82%,
          rgba(39, 221, 209, 0.39) 57.4%, rgba(5, 176, 213, 0.32) 82.7%);
  backdrop-filter: blur(7px);
  height: 493px;
  position: relative;

  &__container {
    @include container;
    flex-direction: column;
    height: 100%;
  }

  &__title {
    @include text-18px(36px, 300);
    color: $mainBlueColor;
    @include margin-top(61px);
  }

  &__item-container {
    @include container;
    margin: 43px 122px 0 48px;
    height: 297px;
    position: relative;
    justify-content: space-between;
  }

  &__item-text {
    @include container;
    flex-direction: column;
    gap: 10px;
    @include text-18px;
    color: $grayColor;
    margin-top: 20px;
    line-height: 1.563rem;

    & p {
      width: calc(100% - 630px);
      align-self: flex-start;
    }
  }

  &__item-embedded {
    @include container;
    position: relative;
  }

  &__item-embedded_main {
    height: 297px;
    width: 538px;
    z-index: 1;
    position: absolute;
    right: calc(50% - 55px);
    cursor: pointer;
  }

  &__item-embedded_play {
    height: 90px;
    width: 90px;
    z-index: 2;
    position: absolute;
    right: calc(50% + 165px);

  }
}

// --- Feed ---
.main__feed-section {
  @include container-w1280;
  background-color: $lightGrayColor;
  height: 566px;
  position: relative;
  overflow: hidden;

  &__container {
    height: 100%;
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 21px auto 0;
    gap: 28px;
  }

  &__title {
    @include text-18px(36px, 300);
    color: $mainBlueColor;
    margin: 36px 0 0 10px;
    position: absolute;
  }

  &__slider-wrapper {
    @include container;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: calc(100% - 100px);
    margin-top: 73px;
    position: relative;

  }

  &__item-container {
    display: flex;
    align-items: start;
    width: max-content;
    transition: transform 0.3s ease;
    position: relative;
    gap: 28px;
  }

  &__item {
    @include container;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    width: 273px;
    height: 412px;
    border: 2px solid;
    rotation: 90deg;
    border-image-source: linear-gradient(calc(161.98deg - 90deg), #FFFFFF -3.6%, rgba(255, 255, 255, 0.2) 108.71%);
    border-image-outset: 100; // для корректной обрезки градиентного фона border-image
    border-radius: 5px;
    background: linear-gradient(calc(83.67deg + 90deg), rgba(255, 255, 255, 0.16) 55.33%, rgba(7, 168, 219, 0.16) 98.64%);
    backdrop-filter: blur(8px);
    box-shadow: 0 2px 6px 0 rgba(102, 102, 102, 0.7);
    overflow: hidden;
  }

  &__item-image {
    width: 100%;
    height: 156px;
  }

  &__item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; // Обрезает изображение, сохраняя пропорции
    border-top-left-radius: 5px; // Закругляет верхние углы изображения
    border-top-right-radius: 5px;
    z-index: 10;
  }

  &__item-text-container {
    @include container;
    flex-direction: column;
    justify-content: space-between;
    width: 224px;
    height: calc(100% - 156px); // с учетом высоты изображения 156px
  }

  &__item-text-text {
    @include text-18px;
    color: $grayColor;
    margin-top: 8px;
    text-align: center;
    line-height: 1.6rem;
  }

  &__item-btn {
    @include text-18px;
    height: 40px;
    width: 224px;
    background: transparent;
    border: 1px solid $mainBlueColor;
    border-radius: 5px;
    color: $mainBlueColor;
    cursor: pointer;
    margin-bottom: 25px;

    &:hover {
      color: $mainBlueHighlightColor;
      border-color: $mainBlueHighlightColor;
    }
  }

  &__prev-btn,
  &__next-btn {
    position: absolute;
    top: 55%;
    transform: translateY(-50%); // чтобы стрелочка была в центре элемента кнопки
    transform: scaleY(2);
    width: 40px;
    height: 40px;
    //background: $mainBlueSemitransparentColor;
    background: transparent;
    color: $mainBlueColor;
    border: none;
    cursor: pointer;
    font-size: 36px;
    @include text-18px(36px, 300);
    border-radius: 5px;
    z-index: 10;

    &:hover {
      color: $mainBlueHighlightColor;
    }

    &:disabled {
      color: $grayColor;
    }
  }

  &__prev-btn {
    left: 10px;
  }

  &__next-btn {
    right: 10px;
  }
}

// --- Student ---
.main__student-section {
  @include container-w1280;

  &__container {
    @include container;
    flex-direction: column;
    height: 415px;
    width: 100%;
    background-image: url(https://ik.imagekit.io/arginp/gendalf-test/assets/student__background--desktop.png?updatedAt=1742887266345);
    background-color: rgba(0, 47, 61, 0.7);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
  }

  &__title {
    @include container;
    width: 660px;
    height: 98px;
    @include text-18px(36px, 700);
    text-align: center;
    color: $whiteColor;
    line-height: 3.06rem;
    @include margin-top(83px);
  }

  &__button--primary {
    height: 50px;
    width: 289px;
    background-color: $mainGreenColor;
    border: none;
    border-radius: 5px;
    color: $whiteColor;
    @include text-18px(18px, 700);
    cursor: pointer;
    @include margin-top(56px);

    &:hover {
      background-color: $mainGreenHighlightColor;
    }
  }

  &:hover {
    color: $mainGreenHighlightColor;
  }
}
