@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$mainBlueColor: #00B7EC;
$mainBlueHighlightColor: #1998D5;
$mainGreenColor: #9BCC37;
$mainGreenHighlightColor: #77BA04;
$whiteColor: #FFFFFF;
$lightestGrayColor: #fafafa;
$lightGrayColor: #E9E9E9;
$grayColor: #666666;

$darkBlueSemitransparentColor: rgba(0, 47, 61, 0.77);

@mixin text {
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 0;
}

@mixin text-18px($font-size: 18px, $font-weight: 400) {
  @include text;
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin container {
  display: flex;
  align-items: center;
}

@mixin container-w1280($width: 1280px) {
  @include container;
  width: $width;
}

@mixin margin-top($mt) {
  margin: $mt auto 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mainBlueColor;
  width: 100%;

  &__container {
    @include container-w1280;
  }

  &__logo {
    margin: 10px 13px 0 9px;
  }

  &__navbar {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
  }

  &__navbar__list {
    display: flex;
    gap: 39px;
    list-style: none;
    @include text-18px;

    a {
      text-decoration: none;
      cursor: pointer;
      color: $whiteColor;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__button {
    width: 255px;
    height: 40px;
    margin: auto 9px;
    color: $mainBlueColor;
    background-color: $whiteColor;
    border: 1px solid $mainBlueColor;
    border-radius: 5px;
    cursor: pointer;
    @include text-18px;

    &:hover {
      color: $mainBlueHighlightColor;
    }
  }
}

.main__container {
  @include container;
  justify-content: center;
  flex-direction: column;
  background-color: $lightestGrayColor;
}

.main__hello-section {
  @include container-w1280;

  &__container {
    @include container;
    flex-direction: column;
    height: 568px;
    width: 100%;
    background-image: url(../assets/hello__background--desktop.png);
    background-color: rgba(0, 47, 61, 0.7);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
  }

  &__title {
    @include container;
    width: 660px;
    height: 174px;
    @include text-18px(64px, 700);
    text-align: center;
    color: $whiteColor;
    line-height: 5.437rem;
    @include margin-top(64px);
  }

  &__text {
    @include container-w1280(834px);
    @include text-18px(25px);
    text-align: center;
    color: $whiteColor;
    @include margin-top(20px);
    text-shadow: 0 4px 4px 0 #00000080;
    line-height: 2.125rem;
  }

  &__button-group {
    @include container;
    justify-content: space-between;
    width: 565px;
    height: 51px;
    @include margin-top(43px);
    align-items: flex-start;

    button {
      height: 50px;
    }

    &__button--primary {
      width: 175px;
      background-color: $mainGreenColor;
      border: none;
      border-radius: 5px;
      color: $whiteColor;
      @include text-18px(18px, 700);
      cursor: pointer;

      &:hover {
        background-color: $mainGreenHighlightColor;
      }
    }

    &__button--secondary {
      width: 327px;
      background-color: $whiteColor;
      border: none;
      border-radius: 5px;
      color: $mainGreenColor;
      @include text-18px(18px, 700);
      cursor: pointer;

      &:hover {
        color: $mainGreenHighlightColor;
      }
    }
  }
}

.main__about-section {
  @include container-w1280;
  background-color: $whiteColor;

  &__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 519px;
    width: 100%;
  }

  &__left-container {
    @include container-w1280(728px);
    flex-direction: column;
    margin-left: 10px;
    align-items: start;
  }

  &__title {
    @include text-18px(36px, 300);
    color: $mainBlueColor;
    margin-top: 50px;
  }

  &__text {
    @include container;
    flex-direction: column;
    gap: 10px;
    @include text-18px;
    color: $grayColor;
    margin-top: 20px;
    line-height: 1.563rem;
  }

  &__button-group {
    @include container;
    height: 50px;
    margin-top: 20px;
    gap: 21px;

    &__button--primary {
      height: 100%;
      width: 225px;
      background-color: $mainBlueColor;
      border: none;
      border-radius: 5px;
      color: $whiteColor;
      @include text-18px(18px, 700);
      cursor: pointer;

      &:hover {
        background-color: $mainBlueHighlightColor;
      }
    }

    &__button--secondary {
      height: 100%;
      width: 327px;
      background-color: $whiteColor;
      border: 1px solid $mainBlueColor;
      border-radius: 5px;
      color: $mainBlueColor;
      @include text-18px(18px, 700);
      cursor: pointer;

      &:hover {
        color: $mainBlueHighlightColor;
        border-color: $mainBlueHighlightColor;
      }
    }
  }

  &__image-container {
    @include container;
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__image-main {
    position: absolute;
    inset: calc(50% - calc(292px * .5));
    z-index: 1;
  }

  &__image-polygon-green {
    position: absolute;
    inset: calc(50% - 200px) calc(50% - 135px);
    z-index: 2;
  }

  &__image-polygon-beige {
    position: absolute;
    inset: calc(50% - 55px) calc(50% - 235px);
    z-index: 3;
  }

  &__image-polygon-blue {
    position: absolute;
    inset: calc(50% + 20px) calc(50% + 85px);
    z-index: 4;
  }
}

.main__values-section {
  @include container-w1280;
  background-color: $lightGrayColor;
  height: 519px;
  overflow: hidden;
  overflow-x: auto;

  &__container {
    height: 100%;
  }

  &__title {
    @include text-18px(36px, 300);
    color: $mainBlueColor;
    margin: 36px 0 0 10px;
    position: absolute;
  }

  &__item-container {
    @include container;
    gap: 37px;
    margin: 122px 0 0 10px;
    align-items: start;
  }

  &__item-image img {
    height: 200px;
  }

  &__item-text-container {
    @include container;
    flex-direction: column;
  }

  &__item-text-title {
    @include text-18px(20px, 700);
    text-decoration: underline;
    color: $grayColor;
    line-height: 30px;
    text-align: center;
  }

  &__item-text-text {
    @include text-18px(14px);
    color: $grayColor;
    margin-top: 8px;
    text-align: center;
  }
}